@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 12vw;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #1F2937;
    padding: 0 11vw;
    color: #F9FAF8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #F9FAF8;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.intro {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.intro-left {
    width: 50%;
    
}

.intro-left h1 {
    font-size: 48px;
    font-weight: bolder;
}

.intro-right {
    background-color: rgb(109, 116, 125);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
}
